
/* section 1 */
.bg-img {
  background:linear-gradient(#530060,#b5077c);
  background-position: bottom;
  height: 100vh;
  padding: 40vh 40vw;
  width: 100vw;
}

.logo-white {
  width: 25vw;
}


/*section 2 background  */
.backg {
  background-image: url("../assets/images/carro.png");
  background-size: cover;
  min-height: 100vh;
}

/* logo white */
.lg-white {
  width: 30vw;
}

/*logo pink  */
.lg-pink {
  margin-top: 15vh;
  width: 50vw;
}

/* bt sec2 */
.style-bt {
  border: 1px solid white;
  margin-top: 30vh;
}
