<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="conteiner center-align backg">
      <!-- logo-white -->
      <div class="row ">
        <div class="col s12">
          <img class="lg-white" src="../assets/images/logo-white.png" alt="logo lyfe white">
        </div>
      </div>
      <!-- logo-pink -->
      <div class="row">
        <div class="col s12 center-align">
          <img class="lg-pink" src="../assets/images/logo-pink.png" alt="logo lyfe pinck">
        </div>
      </div>
      <!-- booton -->
      <div class="row">
        <div class="col s12">
          <a class="waves-effect waves-light btn-large transparent style-bt">LOG IN</a>
          <a href="../views/next.html" class="waves-effect waves-light btn-large transparent style-bt">SING UP</a>
        </div>
      </div>

    </div>   <!-- cierre content  -->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
